.container
  .row.extra-air
    .col-md-4
      %select.form-control
        %option
          Saltar a sección...
        - @categories.each do |category|
          %option
            = category.name
    .col-md-4.pull-right
      %input.form-control{:placeholder => "Buscar en el menú"}
  .row
    .col-md-8
      %legend
        Lista de comidas

  - @categories.each do |category|
    .row
      .col-md-6
        %img{:src => category.picture }
        %label.category-name
          = category.name
    = render partial: "products/product_list", :locals => {:products => category.products}